.cart{
    display: grid;
    background-color: rgb(233, 247, 247);
    padding: 30px;
}
h3{
    font-weight: bolder;
}
.model{
    border: 2px solid black;
}
.company h5{
    display: grid;
    grid-template-columns: repeat(1fr,1);
    border: 2px solid black;
}