.product{
        height: 600px;
        width: 350px;
        background-color: rgb(167, 161, 161);
        padding-top: 20px;
        margin: 20px;
        display: grid;
        border: 2px solid black;
        margin-left: 50px;
}
.product img{
    height: 200px;
    width: 150px;
    
}
.btn-regular{
    background-color: rgb(233, 247, 247);
    width: 150px;
    height: 40px;
    border:1px solid gray;
    border-radius: 5px;
    cursor: pointer;
   
}
h4{
    margin: 10px;
    padding: 10px;
}
.icon-thumble{
    padding-left: 20px;
}
.icon-bus{
   padding-right: 10px;
}