.header{
    color: white;
    background-color: rgb(236, 209, 236);
    padding: 20px;
}
h1{
    color: white;
    font-weight: bolder;
    font-size:25px;
}
p{
    color: black;
    font-weight: bold;
}

